In [16]:
import csv
import pandas as pd 
df = pd.read_csv ('database.csv')
display(df)

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [29]:
with open('database.csv') as Pybank:
    print(Pybank)
    csv_reader = csv.reader(Pybank)
    header = next(csv_reader)
    print("Header is :", header)
    count = 0
    greatest_increase = 0
    greatest_increase_date = ""
    greatest_decrease = 999999999999
    greatest_decrease_date = ""
    last_increase = 0
    
    for row in csv_reader:
#         if count>0:
#         print(row)
        row[1] = int(row[1])
        if count > 0:
            day_change = row[1] - last_day
            if day_change>greatest_increase:
                greatest_increase = day_change
                greatest_increase_date = row[0]
        
        last_day = row[1]
        count +=1

print(type(row[1]))
print("last row: ", row)
print("Greatest Increase was on {} by {greatest_increase}")
print("Number of lines:", count)

<_io.TextIOWrapper name='database.csv' mode='r' encoding='cp1252'>
Header is : ['Date', 'Profit/Losses']
<class 'int'>
last row:  ['Feb-17', 671099]
Number of lines: 86